<!-- 消息页 -->	
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h2>收到的信息</h2>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<a class="btn btn-default active" role="button">已接收</a>
						<a class="btn btn-default" role="button">已发送</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="msg-avatar">
						<img class="img-responsive" src="static/dev/images/avatar_default.jpg">
					</div>
				</div>
				<div class="col-md-10">
					<div class="msg-content">
						<h5 class="nickname">王纯子纯子</h5>
						<p>约会约会约会约会约会约会约会约会约会约会约会约会</p>
						<p>5小时前</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>