<!-- 消息页 -->	
<div class="container container-top">
	<div class="row">
		<div class="message-back clearfix">
			<div class="col-md-2 col-nopadding">
				<div class="message-side">
					<ul class="list-unstyled">
						<?php if(g('a') === 'message_in' || g('a') === 'message_send'): ?>
						<li class="active">
							<a href="?c=message&a=message_in">信息</a>
						</li>
						<li>
							<a href="?c=message&a=dating_send">约会</a>
						</li>
						<li>
							<a href="?c=message&a=save_party">收藏</a>
						</li>
						<?php endif; ?>

						<?php if(g('a') === 'dating_send' || g('a') === 'dating_in'): ?>
						<li>
							<a href="?c=message&a=message_in">信息</a>
						</li>
						<li class="active">
							<a href="?c=message&a=dating_send">约会</a>
						</li>
						<li>
							<a href="?c=message&a=save_party">收藏</a>
						</li>
						<?php endif; ?>

						<?php if(g('a') === 'save_party' || g('a') === 'save_people' || g('a') === 'saved_people'): ?>
						<li>
							<a href="?c=message&a=message_in">信息</a>
						</li>
						<li>
							<a href="?c=message&a=dating_send">约会</a>
						</li>
						<li class="active">
							<a href="?c=message&a=save_party">收藏</a>
						</li>
						<?php endif; ?>
					</ul>
				</div>
			</div>
			<div class="col-md-10 col-nopadding">
				<div class="message-main">
					<?php if(g('a') === 'message_in' || g('a') === 'message_send'): ?>
					<ul class="nav nav-tabs nav-justified nav-message">
						<li <?php if(g('a') === 'message_in'){echo 'class="active"';} ?>>
							<a href="?c=message&a=message_in">收件箱</a>
						</li>
						<li <?php if(g('a') === 'message_send'){echo 'class="active"';} ?>>
							<a href="?c=message&a=message_send">发件箱</a>
						</li>
					</ul>
					<?php endif; ?>
					
					<?php if(g('a') === 'dating_send' || g('a') === 'dating_in'): ?>
					<ul class="nav nav-tabs nav-justified nav-message">
						<li <?php if(g('a') === 'dating_send'){echo 'class="active"';} ?>>
							<a href="?c=message&a=dating_send">我发出的邀请</a>
						</li>
						<li <?php if(g('a') === 'dating_in'){echo 'class="active"';} ?>>
							<a href="?c=message&a=dating_in">我收到的邀请</a>
						</li>
					</ul>
					<?php endif; ?>

					<?php if(g('a') === 'save_party' || g('a') === 'save_people' || g('a') === 'saved_people'): ?>
					<ul class="nav nav-tabs nav-justified nav-message">
						<li <?php if(g('a') === 'save_party'){echo 'class="active"';} ?>>
							<a href="?c=message&a=save_party">收藏的派对</a>
						</li>
						<li <?php if(g('a') === 'save_people'){echo 'class="active"';} ?>>
							<a href="?c=message&a=save_people">收藏的人</a>
						</li>
						<li <?php if(g('a') === 'saved_people'){echo 'class="active"';} ?>>
							<a href="?c=message&a=saved_people">谁收藏了我</a>
						</li>
					</ul>
					<?php endif; ?>


					<div class="message-item clearfix">
						<div class="message-avatar pull-left">
							<img class="img-responsive img-rounded" src="static/dev/images/avatar_default.jpg">
						</div>
						<div class="message-content pull-rigth">
							<h5 class="nickname">王纯子纯子</h5>
							<p class="text-muted detail">约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会...</p>
							<p class="text-muted time">5小时前</p>
						</div>
					</div>
					<div class="message-item clearfix">
						<div class="message-avatar pull-left">
							<img class="img-responsive img-rounded" src="static/dev/images/avatar_default.jpg">
						</div>
						<div class="message-content pull-rigth">
							<h5 class="nickname">王纯子纯子</h5>
							<p class="text-muted detail">约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会...</p>
							<p class="text-muted time">5小时前</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>