<!-- 消息页 -->	
<div class="container container-top">
	<div class="row">
		<div class="message-back clearfix">
			<div class="col-md-2 col-nopadding">
				<div class="message-side">
					<ul class="list-unstyled">
						<li>
							<a href="">信息</a>
						</li>
						<li class="active">
							<a href="">约会</a>
						</li>
						<li>
							<a href="">收藏</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-10 col-nopadding">
				<div class="message-main">
					<ul class="nav nav-tabs nav-justified nav-message">
						<li class="active">
							<a href="#">收件箱</a>
						</li>
						<li>
							<a href="#">发件箱</a>
						</li>
					</ul>
					<div class="message-item clearfix">
						<div class="message-avatar pull-left">
							<img class="img-responsive img-rounded" src="static/dev/images/avatar_default.jpg">
						</div>
						<div class="message-content pull-rigth">
							<h5 class="nickname">王纯子纯子</h5>
							<p class="text-muted detail">约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会...</p>
							<p class="text-muted time">5小时前</p>
						</div>
					</div>
					<div class="message-item clearfix">
						<div class="message-avatar pull-left">
							<img class="img-responsive img-rounded" src="static/dev/images/avatar_default.jpg">
						</div>
						<div class="message-content pull-rigth">
							<h5 class="nickname">王纯子纯子</h5>
							<p class="text-muted detail">约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会约会...</p>
							<p class="text-muted time">5小时前</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>