@charset "UTF-8";
/**
 * @fileoverview coming soon页面
 * @authors yifei (yifei.li@redbeanpie.com)
 * @version 0.1
 * @date    2013-11-04 22:25:44
 */

.rp-come {
	background: #f5e9d7 url('http://static.redbeanpie.com/images/paperbg.png') top center;
}
.come-container {
	padding-top: 30px;
}
.title-wrap {
    text-align: center;
}
.des-wrap {
    max-width: 604px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 90px;
}
.des-wrap .com-select {
    width: 200px;
    margin-left: 25px;
}
.form-wrap {
    max-width: 604px;
    margin: 0 auto;
    margin-top: 10px;
    background: url('http://static.redbeanpie.com/images/formbg.png') no-repeat;
    padding: 40px 20px 0 20px;
    height: 215px;
}
.form-wrap .form-group input {
    width: 200px;
}
.form-wrap .submit-group {
    margin-top: 70px;
}

.comingsoon {
	display: block;
	font-weight: 100;
	font-size: 22px;
	color: #544f44;
	text-shadow: 0 1px #FFF;
	margin-top: 15px;
}