@charset "UTF-8";
/**
 * @fileoverview 页面引入主文件
 * @authors yifei (yifei.li@redbeanpie.com)
 * @version 0.1
 * @date    2013-11-04 22:25:44
 */

/*@font-face {
	font-family: 'trends';
	src: local('时尚中黑简体');
	src: url('font/trends.ttf'), url('font/trends.eot');
}*/

@import url('./lib/bootstrap.min.css');
@import url('./lib/validform.css');

@import url('./module/common.css');
@import url('./module/guest.css');
@import url('./module/jcarousel.responsive.css');
/*** 个人主页 ***/
@import url('./module/profile.css');


