<div class="panel panel-default side-panel">
	<?php if(g('a') == 'index'):?>
	<div class="panel-heading">常用功能</div>
	<div class="list-group">
		<a href="?c=admin&a=preuser" class="list-group-item">预注册用户</a>
		<a href="?c=admin&a=cominfo" class="list-group-item">公司信息</a>
		<a href="?c=admin&a=industryinfo" class="list-group-item">行业信息</a>
		<a href="?c=admin&a=codeinfo" class="list-group-item">邀请码管理</a>
	</div>
	<?php endif; ?>
	
	<?php if(g('a') == 'preuser'):?>
	<div class="panel-heading">用户管理</div>
	<div class="list-group">
		<a href="?c=admin&a=preuser" class="list-group-item active">预注册用户</a>
		<a href="?c=admin&a=userinfo" class="list-group-item">注册用户</a>
	</div>
	<?php endif; ?>

	<?php if(g('a') == 'userinfo'):?>
	<div class="panel-heading">用户管理</div>
	<div class="list-group">
		<a href="?c=admin&a=preuser" class="list-group-item">预注册用户</a>
		<a href="?c=admin&a=userinfo" class="list-group-item active">注册用户</a>
	</div>
	<?php endif; ?>

	<?php if(g('a') == 'cominfo' || g('a') == 'add_cominfo' || g('a') == 'edit_cominfo'):?>
	<div class="panel-heading">公司管理</div>
	<div class="list-group">
		<a href="?c=admin&a=cominfo" class="list-group-item active">公司信息</a>
		<a href="?c=admin&a=industryinfo" class="list-group-item">行业信息</a>
	</div>
	<?php endif; ?>

	<?php if(g('a') == 'industryinfo' || g('a') == 'add_industryinfo' || g('a') == 'edit_industryinfo'):?>
	<div class="panel-heading">公司管理</div>
	<div class="list-group">
		<a href="?c=admin&a=cominfo" class="list-group-item">公司信息</a>
		<a href="?c=admin&a=industryinfo" class="list-group-item active">行业信息</a>
	</div>
	<?php endif; ?>

	<?php if(g('a') == 'codeinfo'):?>
	<div class="panel-heading">系统管理</div>
	<div class="list-group">
		<a href="?c=admin&a=codeinfo" class="list-group-item active">邀请码管理</a>
	</div>
	<?php endif; ?>

</div>