<div class="container container-signin">
	<div class="row">
		<div class="col-md-8">
			<ul class="nav nav-tabs">
				<li class="active"><a href="?c=guest&a=signup">名企员工绿色通道</a></li>
				<li><a href="?c=guest&a=signup">邀请码注册</a></li>
			</ul>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-md-4">
			<form id="signup-staff-form" role="form">
				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" id="inlineCheckbox1" name="genderRadios" value="option1"> 男
					</label>
					<label class="radio-inline">
						<input type="radio" id="inlineCheckbox2" name="genderRadios" value="option1"> 女
					</label>
				</div>
				<div class="form-group">
					<select class="form-control">
						<option value="">选择公司名字</option>
						<option value="">联想集团</option>
						<option value="">新浪</option>
					</select>

					<label class="checkbox-inline">
						<input type="checkbox" id="inlineCheckbox1" value="option1"> 隐藏公司名
					</label>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control">
						<span class="input-group-addon">@sina.com.cn</span>
					</div>
				</div>
				<div class="form-group">
					<input id="inputEmail" type="email" class="form-control" placeholder="用户名">
				</div>
				<div class="form-group">
					<input id="inputEmail" type="password" class="form-control" placeholder="密码">
				</div>
				<div class="form-group">
					<input id="inputEmail" type="password" class="form-control" placeholder="确认密码">
				</div>

  				<button type="submit" class="btn btn-default btn-signup">注册</button>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<form id="signup-code-form" role="form">
				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" id="inlineCheckbox1" name="genderRadios" value="option1"> 男
					</label>
					<label class="radio-inline">
						<input type="radio" id="inlineCheckbox2" name="genderRadios" value="option1"> 女
					</label>
				</div>
				<div class="form-group">
					<input id="inputEmail" type="email" class="form-control" placeholder="邀请码">
					<span class="help-block">没有邀请码？赶快去<a href="">申请</a></span>
				</div>
				<div class="form-group">
					<input id="inputEmail" type="email" class="form-control" placeholder="个人邮箱">
				</div>
				<div class="form-group">
					<input id="inputEmail" type="password" class="form-control" placeholder="密码">
				</div>
				<div class="form-group">
					<input id="inputEmail" type="password" class="form-control" placeholder="确认密码">
				</div>

  				<button type="submit" class="btn btn-default btn-signup">注册</button>
			</form>
		</div>
	</div>

</div>
