/*** 布局 ***/
html, body {
	height: 100%;
	background-color: #f5f5f5;
}
@media (min-width: 1200px) {
	.container {
		width: 960px;
	}
}
.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}
.wrap > .container {
	padding: 80px 15px 0;
}
.wrap > .container-top {
	padding: 51px 15px 0;
}
.footer {
	height: 60px;
}
.footer a {
	color: #999;
}
.footer .container {
	padding-top: 20px;
	text-align: center;
}
/*boot弹出浮层*/
.popover {
	z-index: 9999;
	border: 1px solid #fe5055;
}
/*导航发起浮层*/
.popover-content {
	padding: 0;
}
.popover.bottom {
	margin: 0;
	border-radius: 0;
}
.popover.bottom .arrow {
	border-bottom-color: #fe5055;
	display: none;
}
.list-group-launch {
	border: none;
	margin-bottom: 0;
}
.list-group-launch .list-group-item {
	border: none;
	padding: 10px 15px;
	color: #fe5055;
}
.list-group-launch .list-group-item .list-group-icon {
	display: inline-block;
	width: 35px;
}

/*** 全局通用 ***/
form .col-validtip {
	padding: 5px 5px 0 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active
{
	background-color: #148e7e;
	border-color: #148e7e;
}

a {
	color: #bec2bc;
}
a:hover {
	color: #363636;
}

.img-rounded {
	border-radius: 10px;
}

.col-nopadding {
	padding: 0;
}

.rbp-callout {
	border-left: 8px solid #1fbba6;
	padding-left: 5px;
	margin-bottom: 20px;
}
.rbp-callout .title {
	margin: 0;
}

/*上传图片按钮和进度样式*/
.uploadify {
	position: relative;
	margin-bottom: 1em;
}
.uploadify-button {
	background-color: #505050;
	background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #505050),
		color-stop(1, #707070)
	);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #808080;
	color: #FFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	width: 100%;
}
.uploadify:hover .uploadify-button {
	background-color: #606060;
	background-image: linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #606060),
		color-stop(1, #808080)
	);
	background-position: center bottom;
}
.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}
.uploadify-queue {
	margin-bottom: 1em;
}
.uploadify-queue-item {
	background-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
	background: url('../../images/uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}
