/*** 动态 ***/
.feed-btn-group {
	margin-bottom: 20px;
}
.feed-item {
	background-color: #ededed;
	margin-bottom: 20px;
}
.feed-avatar {
	height: auto;
	width: 100px;
}
.feed-content {
	padding-left: 20px;
}

.load-more .btn-feed-loadmore {
	width: 100%;
	background-color: #eeeeee;
}

.progress-dashboard {
	background-color: #e0e0e0;
	height: 30px;
	border-radius: 8px;
	box-shadow: inset 1px 1px 3px #bbb;
}
.progress-bar-dashboard {
	background-color: #fd4d52;
	line-height: 30px;
	font-size: 16px;
	border-radius: 0 8px 8px 0;
}

.btn-dashboard {
	width: 100%;
	background-color: #fd4b50;
	border: 0;
}
.btn-dashboard:hover {
	background-color: #fd4b50;
	opacity: 0.8;
}

/*动态，派对，约会页面，右侧栏模块*/
.send-box, .info-box, .recommend-box {
	margin-bottom: 20px;
	background-color: #fff;
	padding: 20px;
	/*border: 1px solid #e2e2e2;*/
	box-shadow: 2px 2px 2px #ddd;
	/*border-radius: 12px;*/
}
.send-box .avatar-box {
	width: 100px;
	height: auto;
}
.send-box .user-info {
	padding: 0 10px;
}
.send-box .send-area {
	margin-top: 10px;
}
.send-box .send-area textarea {
	width: 100%;
	margin-bottom: 10px;
}