.wrap > .container-guest {
	padding-top: 20px;
}

/*** 导航 ***/
.navbar-default {
	background-color: #1fbba6;
}
.navbar-brand {
	padding: 0;
}
.navbar-btn-signin, .navbar-btn-signup {
	background-color: #148e7e;
	color: #fff;
	margin-left: 15px;
}
.navbar-btn-signin:hover, .navbar-btn-signup:hover {
	background-color: #148e7e;
}


/*** 轮播 ***/
.carousel-wrap {
	padding-top: 51px;
}
/* Carousel base class */
.carousel {
  height: 340px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
	right: 20%;
	left: 17%;
	text-align: left;
	color: #000;
	max-width: 30%;
	text-shadow: 0 0;
}
.carousel-caption h3 {
	font-size: 32px;
}
.carousel-caption p {
	font-size: 18px;
}
.carousel-caption-1 {
	padding-bottom: 125px;	
}
.carousel-caption-2 {
	padding-bottom: 150px;	
}
.carousel-caption-3 {
	padding-bottom: 150px;	
}
.join-link {
	position: absolute;
	z-index: 20;
	top: 60%;
	left: 17%;
}
.btn-join, .btn-join:hover, .btn-join:focus, .btn-join:active {
	background-color: #fc494d;
	border-color: #fc494d;
	color: #fff;
	border-radius: 35px;
	padding: 15px 50px;
	font-size: 26px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 340px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 340px;
}
.carousel-indicators li {
	background-color: #ccc;
}
.carousel-indicators .active{
	background-color: #1fbba6;
}

.rbp-callout {
	border-left: 8px solid #1fbba6;
}

/*** 注册 ***/

/*** 登录 ***/
.btn-signin, .btn-signin:hover, .btn-signup, .btn-signup:hover {
	background-color: #fb484c;
	border-color: #fb484c;
	padding: 13px 70px;
	color: #fff;
	font-size: 16px;
	margin: 20px 0 8px 0;
}
.nav-tabs {
	border-bottom: 1px solid #1fbba6;
}
.nav-tabs>li {
	margin-left: 10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #1fbba6;
	border: 1px solid #1fbba6;
	border-bottom-color: transparent;
}

/*.nav>li>a {
	padding: 10px 40px;
}*/

.container>.navbar-header {
	margin-right: 60px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #149987;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbar-default .navbar-nav>.dropdown>a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #fff;
	background-color: #149987;
}
.navbar-default .navbar-text {
	color: #fff;
}
