<!-- 个人中心 -->
<div class="container">
	<div class="row row-profile-header">
		<div class="col-md-3">
			<div id="profile-avatar-box" class="profile-avatar-box center-block">
				<?php if( $user_info['avatar_url'] == ''): ?>
				<img src="static/dev/images/avatar_default.jpg">
				<?php else: ?>
				<img src="<?php echo $user_info['avatar_url']; ?>">
				<?php endif; ?>

				<?php if(is_login_profile()): ?>
				<a class="avatar-modify-link" style="display:none;" href="javascript:void(0);">修改头像</a>
				<?php endif; ?>
			</div>
		</div>
		<div class="col-md-9">
			<div class="baseinfo-box">
				<h3 class="nick-title"><?php echo $user_info['nickname']; ?></h3>
				<p>
					<!--
					<?php if($user_info['birthday'] != '0000-00-00'): ?>
					<span><?php echo cal_age($user_info['birthday']); ?>岁-</span>
					<?php endif; ?>
				-->
					<span><?php if($user_info['gender'] == 0){echo '男生';}else {echo '女生';} ?>-</span>
					<span>北京市海淀区</span>
				</p>
				<?php if($user_info['company_visible'] == 1): ?>
				<p class="text-muted">
					<?php 
						if($user_info['com_name']){
							echo $user_info['com_name'];
						}
						if($user_info['job']){
							echo '-' . $user_info['job'];
						}
					?>
				</p>
				<?php else: ?>
				<p class="text-muted">
					<?php 
						if($user_info['job']){
							echo $user_info['job'];
						}
					?>
				</p>
				<?php endif; ?>
				<p class="text-muted">
					<?php 
						if($user_info['university']){
							echo $user_info['university'];
						}

						switch ($user_info['education']) {
							case 1:
							echo "-本科";
							break;
							case 2:
							echo "-研究生";
							break;
							case 3:
							echo "-博士";
							break;
						}
					?>
				</p>
				<div class="btn-wrap">
					<?php if(!is_login_profile()): ?>
					<button type="button" class="btn btn-default">收藏</button>
					<?php endif; ?>
					<button type="button" class="btn btn-default">发消息</button>
				</div>
				
				<div class="well">
					<h4 class="album-title">
						<?php if($user_info['gender'] == 0){echo '他';}else {echo '她';} ?>的相册
					</h4>
					<div class="album-list">
						<ul id="profile-album-ul" class="clearfix">
							<?php if($album_info):  ?>
							<?php foreach ($album_info as $album_info_item): ?>
							<li>
								<a href="">
									<img class="img-responsive" src="<?php echo $album_info_item['img_url']; ?>">
								</a>
							</li>
							<?php endforeach; ?>
							<?php endif; ?>
							
							<?php if(is_login_profile()): ?>
							<li class="add-photo">
								<span class="glyphicon glyphicon-plus"></span>
							</li>
							<?php endif; ?>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="profile-main-box">
			<div class="col-md-3">
				<div class="sideinfo-box center-block">
					<div class="sideinfo-header clearfix">
						<span class="title pull-left">个人信息</span>
						<?php if(is_login_profile()): ?>
						<a id="edit-sideinfo-link" href="javascript:void(0);" class="pull-right">修改</a>
						<?php endif; ?>
					</div>
					<div class="sideinfo-content clearfix">
						<p class="clearfix">
							<span class="pull-left">昵称</span>
							<?php if($user_info['nickname']): ?>
							<span class="pull-right"><?php echo $user_info['nickname']; ?></span>
							<?php else: ?>
							<span class="pull-right">未填写</span>
							<?php endif; ?>
						</p>
						<p class="clearfix">
							<span class="pull-left">恋爱状态</span>
							<?php if($user_info['relationship'] == 0): ?>
							<span class="pull-right">寻觅中</span>
							<?php else: ?>
							<span class="pull-right">恋爱中</span>
							<?php endif; ?>
						</p>
						<p class="clearfix">
							<span class="pull-left">性别</span>
							<?php if($user_info['gender'] == 0): ?>
							<span class="pull-right">男</span>
							<?php else: ?>
							<span class="pull-right">女</span>
							<?php endif; ?>
						</p>
						<p class="clearfix">
							<span class="pull-left">年龄</span>
							<!-- <span class="pull-right"><?php echo cal_age($user_info['birthday']); ?></span> -->
						</p>
						<p class="clearfix">
							<span class="pull-left">身高</span>
							<?php if($user_info['height']): ?>
							<span class="pull-right"><?php echo $user_info['height'] . 'cm'; ?></span>
							<?php else: ?>
							<span class="pull-right">未填写</span>
							<?php endif; ?>
						</p>
						<p class="clearfix">
							<span class="pull-left">所在地</span>
							<span class="pull-right">北京-海淀</span>
						</p>
						<p class="clearfix">
							<span class="pull-left">月收入</span>
							<?php if($user_info['income']): ?>
							<span class="pull-right">
								<?php
									switch ($user_info['income']) {
										case 1:
										echo "4000元以下";
										break;
										case 2:
										echo "4000元-6000元";
										break;
										case 3:
										echo "6000元-10000元";
										break;
										case 4:
										echo "10000元-15000元";
										break;
										case 5:
										echo "15000元-20000元";
										break;
										case 6:
										echo "20000元-30000元";
										break;
										case 7:
										echo "30000元-50000元";
										break;
										case 8:
										echo "50000元以上";
										break;
									}
							 	?>
							</span>
							<?php else: ?>
							<span class="pull-right">未填写</span>
							<?php endif; ?>
						</p>
						<p class="clearfix">
							<span class="pull-left">学历</span>
							<?php if($user_info['education']): ?>
							<span class="pull-right">
								<?php
									switch ($user_info['education']) {
										case 1:
										echo "本科";
										break;
										case 2:
										echo "研究生";
										break;
										case 3:
										echo "博士";
										break;
									}
								 ?>
							</span>
							<?php else: ?>
							<span class="pull-right">未填写</span>
							<?php endif; ?>
						</p>
						<p class="clearfix">
							<span class="pull-left">社交</span>
							<?php
							if($user_info['weibo_link']) {
								echo '<span class="pull-right"><a target="_blank" href="'. $user_info['weibo_link'] .'">'. $user_info['weibo_link'] .'</a></span>';
							}else {
								echo '<span class="pull-right">未填写</span>';
							}
							?>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<ul class="nav nav-tabs nav-justified nav-tabs-profile">
					<li class="active">
						<a data-toggle="tab" href="#aboutme">关于我</a>
					</li>
					<li>
						<a data-toggle="tab" href="#party">派对</a>
					</li>
					<li>
						<a data-toggle="tab" href="#dating">约会</a>
					</li>
				</ul>
				
				<!-- 关于我 -->
				<div id="aboutme" class="aboutme-info-box tab-pane fade active in">

					<div id="essay1" class="essay-box">
						<div class="aboutme-info-title clearfix">
							<span class="pull-left"><strong>自我介绍</strong></span>
							<?php if(is_login_profile()): ?>
							<a href="javascript:void(0);" class="pull-right">修改</a>
							<?php endif; ?>
						</div>
						<div class="aboutme-info-content">
							<p>
								<?php
									if($user_info['essay1']) {
										echo $user_info['essay1'];
									}else {
										echo '未填写';
									}
								?>
							</p>
						</div>
					</div>
					<div id="essay1-edit" class="edit-box">
						<div class="aboutme-info-title">
							<span><strong>自我介绍</strong></span>
						</div>
						<div class="aboutme-info-content">
							<textarea data-type="essay1" class="form-control" value="<?php echo $user_info['essay1']; ?>"><?php echo $user_info['essay1']; ?></textarea>
						</div>
					</div>

					<div id="essay2" class="essay-box">
						<div class="aboutme-info-title clearfix">
							<span class="pull-left"><strong>喜欢的事情、兴趣爱好等</strong></span>
							<?php if(is_login_profile()): ?>
							<a href="javascript:void(0);" class="pull-right">修改</a>
							<?php endif; ?>
						</div>
						<div class="aboutme-info-content">
							<p>
								<?php
									if($user_info['essay2']) {
										echo $user_info['essay2'];
									}else {
										echo '未填写';
									}
								?>
							</p>
						</div>
					</div>
					<div id="essay2-edit" class="edit-box">
						<div class="aboutme-info-title">
							<span><strong>喜欢的事情、兴趣爱好等</strong></span>
						</div>
						<div class="aboutme-info-content">
							<textarea data-type="essay2" class="form-control" value="<?php echo $user_info['essay2']; ?>"><?php echo $user_info['essay2']; ?></textarea>
						</div>
					</div>

					<div id="essay3" class="essay-box">
						<div class="aboutme-info-title clearfix">
							<span class="pull-left"><strong>不喜欢的事情</strong></span>
							<?php if(is_login_profile()): ?>
							<a href="javascript:void(0);" class="pull-right">修改</a>
							<?php endif; ?>
						</div>
						<div class="aboutme-info-content">
							<p>
								<?php
									if($user_info['essay3']) {
										echo $user_info['essay3'];
									}else {
										echo '未填写';
									}
								?>
							</p>
						</div>
					</div>
					<div id="essay3-edit" class="edit-box">
						<div class="aboutme-info-title">
							<span><strong>不喜欢的事情</strong></span>
						</div>
						<div class="aboutme-info-content">
							<textarea data-type="essay3" class="form-control" value="<?php echo $user_info['essay3']; ?>"><?php echo $user_info['essay3']; ?></textarea>
						</div>
					</div>

					<div id="essay4" class="essay-box">
						<div class="aboutme-info-title clearfix">
							<span class="pull-left"><strong>理想异性</strong></span>
							<?php if(is_login_profile()): ?>
							<a href="javascript:void(0);" class="pull-right">修改</a>
							<?php endif; ?>
						</div>
						
					</div>
				</div>
				<!-- 派对 -->
				<div id="party" class="party-info-box tab-pane fade"></div>
				<!-- 约会 -->
				<div id="dating" class="dating-info-box tab-pane fade"></div>
				
			</div>
		</div>
	</div>

	<?php if(is_login_profile()): ?>
	<!-- 上传头像浮层 -->
	<div id="modal-avatar" class="modal fade modal-avatar">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">头像上传</h4>
					<button id="upload-from-album">从相册中选择</button>
				</div>
				<div class="modal-body">
					<div id="xiuxiuContent"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- 相册图片上传浮层 -->
	<div id="modal-album" class="modal fade modal-album">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">上传照片</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<div class="upload-img-box">
								<input id="upload-img-btn" type="file" name="file_upload" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="img-preview-box">
								<a href="javascript:void(0);" title="点击查看原图" target="_blank">
									<img src="/static/dev/images/avatar_demo.jpg" class="img-responsive" alt="图片预览">
								</a>
							</div>
							<p>
								<textarea class="form-control description" rows="3" placeholder="照片描述"></textarea>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<button type="button" class="btn btn-primary btn-submit">确定</button>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>

	<!-- 个人信息修改浮层 -->
	<div id="modal-sideinfo" class="modal fade modal-sideinfo">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">修改个人信息</h4>
				</div>
				<div class="modal-body">
					<form id="edit-sideinfo-form" class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputNickname" class="col-sm-2 control-label">昵称</label>
							<div class="col-sm-6">
								<input id="inputNickname" name="nickname" type="text" class="form-control" placeholder="昵称" datatype="s2-10" errormsg="昵称2-10位" nullmsg="还没填呢" value="<?php echo $user_info['nickname']; ?>">
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="selectRelationship" class="col-sm-2 control-label">恋爱状态</label>
							<div class="col-sm-6">
								<select id="selectRelationship" name="relationship" class="form-control" datatype="*" errormsg="还没填呢" nullmsg="还没填呢">
									<?php if($user_info['relationship'] == 0): ?>
									<option value="0" selected="selected">寻觅中</option>
									<option value="1">恋爱中</option>
									<?php else: ?>
									<option value="0">寻觅中</option>
									<option value="1" selected="selected">恋爱中</option>
									<?php endif; ?>
								</select>
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="selectGender" class="col-sm-2 control-label">性别</label>
							<div class="col-sm-6">
								<select id="selectGender" name="gender" class="form-control" datatype="*" errormsg="还没填呢" nullmsg="还没填呢">
									<?php if($user_info['gender'] == 0): ?>
									<option value="0" selected="selected">男</option>
									<option value="1">女</option>
									<?php else: ?>
									<option value="0">男</option>
									<option value="1" selected="selected">女</option>
									<?php endif; ?>
								</select>
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="inputBirthday" class="col-sm-2 control-label">出生日期</label>
							<div class="col-sm-2">
								<select id="selectYear" name="year" class="form-control" datatype="*" errormsg="还没填呢" nullmsg="还没填呢">
									<option value="">-</option>
									<?php
									for($year=1996; $year>=1950; $year--)
									{
										if( (int)explode('-', $user_info['birthday'])[0] === $year ) {
											echo '<option selected="selected" value="'. $year .'">'. $year .'</option>';
										}else {
											echo '<option value="'. $year .'">'. $year .'</option>';
										}
									} 
									?>
								</select>
							</div>
							<div class="col-sm-2">
								<select id="selectMonth" name="month" class="form-control" datatype="*" errormsg="还没填呢" nullmsg="还没填呢">
									<option value="">-</option>
									<?php
									for($month=1; $month<12 ; $month++)
									{
										if( (int)explode('-', $user_info['birthday'])[1] == $month ) {
											echo '<option selected="selected" value="'. $month .'">'. $month .'</option>';
										}else {
											echo '<option value="'. $month .'">'. $month .'</option>';
										}
									}
									?>
								</select>
							</div>
							<div class="col-sm-2">
								<select id="selectDay" name="day" class="form-control" datatype="*" errormsg="还没填呢" nullmsg="还没填呢">
									<option value="">-</option>
									<?php
									for($day=1; $day<31 ; $day++)
									{
										if( (int)explode('-', $user_info['birthday'])[2] == $day ) {
											echo '<option selected="selected" value="'. $day .'">'. $day .'</option>';
										}else {
											echo '<option value="'. $day .'">'. $day .'</option>';
										}
									}
									?>
								</select>
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="selectHeight" class="col-sm-2 control-label">身高</label>
							<div class="col-sm-6">
								<select id="selectHeight" name="height" datatype="*" errormsg="还没填呢" nullmsg="还没填呢" class="form-control">
									<option value="">-</option>
									<option <?php if($user_info['height'] == '150') echo 'selected="selected"' ?> value="150">150cm</option>
									<option <?php if($user_info['height'] == '155') echo 'selected="selected"' ?> value="155">155cm</option>
									<option <?php if($user_info['height'] == '160') echo 'selected="selected"' ?> value="160">160cm</option>
									<option <?php if($user_info['height'] == '165') echo 'selected="selected"' ?> value="165">165cm</option>
									<option <?php if($user_info['height'] == '170') echo 'selected="selected"' ?> value="170">170cm</option>
									<option <?php if($user_info['height'] == '175') echo 'selected="selected"' ?> value="175">175cm</option>
									<option <?php if($user_info['height'] == '180') echo 'selected="selected"' ?> value="180">180cm</option>
									<option <?php if($user_info['height'] == '185') echo 'selected="selected"' ?> value="185">185cm</option>
									<option <?php if($user_info['height'] == '190') echo 'selected="selected"' ?> value="190">190cm</option>
									<option <?php if($user_info['height'] == '195') echo 'selected="selected"' ?> value="195">195cm</option>
									<option <?php if($user_info['height'] == '200') echo 'selected="selected"' ?> value="200">200cm</option>
									<option <?php if($user_info['height'] == '205') echo 'selected="selected"' ?> value="205">205cm</option>
									<option <?php if($user_info['height'] == '210') echo 'selected="selected"' ?> value="210">210cm</option>
									<option <?php if($user_info['height'] == '215') echo 'selected="selected"' ?> value="215">215cm</option>
									<option <?php if($user_info['height'] == '220') echo 'selected="selected"' ?> value="220">220cm</option>
								</select>
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="inputWeight" class="col-sm-2 control-label">体重</label>
							<div class="input-group col-sm-6">
								<input id="inputWeight" name="weight" type="text" class="form-control" value="<?php echo $user_info['weight']; ?>" datatype="n1-3" errormsg="请输入数字" nullmsg="还没填呢">
								<span class="input-group-addon">公斤(KG)</span>
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="selectLocation" class="col-sm-2 control-label">所在地</label>
							<div class="col-sm-3">
								<select id="selectProvince" name="province" class="form-control">
									<option value="1">北京市</option>
								</select>
							</div>
							<div class="col-sm-3">
								<select id="selectCity" name="city" class="form-control">
									<option value="1">海淀区</option>
								</select>
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="selectComVisible" class="col-sm-2 control-label">公司</label>
							<div class="col-sm-3">
								<input name="com_name" disabled="disabled" value="<?php echo $user_info['com_name']; ?>" class="form-control">
							</div>
							<div class="col-sm-3">
								<select id="selectComVisible" name="company_visible" class="form-control" datatype="*" errormsg="还没填呢" nullmsg="还没填呢">
									<option <?php if($user_info['company_visible'] == 1) echo 'selected="selected"'; ?> value="1">可见</option>
									<option <?php if($user_info['company_visible'] == 0) echo 'selected="selected"'; ?> value="0">隐藏</option>
								</select>
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="inputJob" class="col-sm-2 control-label">职位</label>
							<div class="col-sm-6">
								<input id="inputJob" name="job" value="<?php echo $user_info['job']; ?>" class="form-control" datatype="s2-20" errormsg="职位名称为2-20个字符" nullmsg="还没填呢">
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="selectIncome" class="col-sm-2 control-label">月收入</label>
							<div class="col-sm-6">
								<select id="selectIncome" name="income" class="form-control" datatype="*" errormsg="还没填呢" nullmsg="还没填呢">
									<option value="">-</option>
									<option <?php if($user_info['income'] == 1) echo 'selected="selected"'; ?> value="1">4000元以下</option>
									<option <?php if($user_info['income'] == 2) echo 'selected="selected"'; ?> value="2">4000元-6000元</option>
									<option <?php if($user_info['income'] == 3) echo 'selected="selected"'; ?> value="3">6000元-10000元</option>
									<option <?php if($user_info['income'] == 4) echo 'selected="selected"'; ?> value="4">10000元-15000元</option>
									<option <?php if($user_info['income'] == 5) echo 'selected="selected"'; ?> value="5">15000元-20000元</option>
									<option <?php if($user_info['income'] == 6) echo 'selected="selected"'; ?> value="6">20000元-30000元</option>
									<option <?php if($user_info['income'] == 7) echo 'selected="selected"'; ?> value="7">30000元-50000元</option>
									<option <?php if($user_info['income'] == 8) echo 'selected="selected"'; ?> value="8">50000元以上</option>
								</select>
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="inputUniversity" class="col-sm-2 control-label">毕业大学</label>
							<div class="col-sm-6">
								<input id="inputUniversity" name="university" value="<?php echo $user_info['university']; ?>" class="form-control" datatype="*" errormsg="大学名称在2-20个字符" nullmsg="还没填呢">
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="selectEducation" class="col-sm-2 control-label">学历</label>
							<div class="col-sm-6">
								<select id="selectEducation" name="education" class="form-control" datatype="*" errormsg="还没填呢" nullmsg="还没填呢">
									<option value="">-</option>
									<option <?php if($user_info['education'] == 1) echo 'selected="selected"'; ?> value="1">本科</option>
									<option <?php if($user_info['education'] == 2) echo 'selected="selected"'; ?> value="2">硕士</option>
									<option <?php if($user_info['education'] == 3) echo 'selected="selected"'; ?> value="3">博士</option>
								</select>
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="inputWeibo" class="col-sm-2 control-label">新浪微博</label>
							<div class="col-sm-6">
								<input id="inputWeibo" name="weibo_link" value="<?php echo $user_info['weibo_link']; ?>" class="form-control" datatype="url" errormsg="地址格式错误" nullmsg="还没填呢">
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group text-center">
							<button type="submit" class="btn btn-primary btn-submit">更新</button>
						</div>
					</form>

				</div>
			</div>		
		</div>
	</div>

	<!-- 关于我信息修改浮层 -->
	<!--
	<div id="modal-aboutme" class="modal fade modal-aboutme">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">理想异性</h4>
				</div>
				<div class="modal-body">
					<form id="aboutme-form" class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-2 control-label">年龄范围</label>
							<div class="col-sm-3">
								<select name="age_min" class="form-control" datatype="*" errormsg="还没填呢" nullmsg="还没填呢">
									<option value="0">不限</option>
									<?php
									for($age_min=18; $age_min<40 ;$age_min++)
									{
										if($age_min == $user_info['age_min']) {
											echo '<option selected="selected" value="'. $age_min .'">'. $age_min .'</option>';
										}else {
											echo '<option value="'. $age_min .'">'. $age_min .'</option>';
										}
									}
									?>
								</select>
							</div>
							<div class="col-sm-3">
								<select name="age_max" class="form-control" datatype="*" errormsg="还没填呢" nullmsg="还没填呢">
									<option value="0">不限</option>
									<?php
									for($age_max=18; $age_max<40 ;$age_max++)
									{
										if($age_max == $user_info['age_max']) {
											echo '<option selected="selected" value="'. $age_max .'">'. $age_max .'</option>';
										}else {
											echo '<option value="'. $age_max .'">'. $age_max .'</option>';
										}
									}
									?>
								</select>
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="selectHeightLooking" class="col-sm-2 control-label">身高</label>
							<div class="col-sm-6">
								<select id="selectHeightLooking" name="height_looking_for" class="form-control" datatype="*" errormsg="还没填呢" nullmsg="还没填呢">
									<option value="0">不限</option>
									<option <?php if($user_info['height_looking_for'] == 160) echo 'selected="selected"'; ?> value="160">160cm以上</option>
									<option <?php if($user_info['height_looking_for'] == 165) echo 'selected="selected"'; ?> value="165">165cm以上</option>
									<option <?php if($user_info['height_looking_for'] == 170) echo 'selected="selected"'; ?> value="170">170cm以上</option>
									<option <?php if($user_info['height_looking_for'] == 175) echo 'selected="selected"'; ?> value="175">175cm以上</option>
									<option <?php if($user_info['height_looking_for'] == 180) echo 'selected="selected"'; ?> value="180">180cm以上</option>
									<option <?php if($user_info['height_looking_for'] == 185) echo 'selected="selected"'; ?> value="185">185cm以上</option>
									<option <?php if($user_info['height_looking_for'] == 190) echo 'selected="selected"'; ?> value="190">190cm以上</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">月均收入</label>
							<div class="col-sm-6">
								<select name="income_looking_for" class="form-control" datatype="*" errormsg="还没填呢" nullmsg="还没填呢">
									<option value="0">不限</option>
									<option <?php if($user_info['income_looking_for'] == 5000) echo 'selected="selected"'; ?> value="5000">5000以上</option>
									<option <?php if($user_info['income_looking_for'] == 10000) echo 'selected="selected"'; ?> value="10000">10000以上</option>
									<option <?php if($user_info['income_looking_for'] == 15000) echo 'selected="selected"'; ?> value="15000">15000以上</option>
									<option <?php if($user_info['income_looking_for'] == 20000) echo 'selected="selected"'; ?> value="20000">20000以上</option>
									<option <?php if($user_info['income_looking_for'] == 30000) echo 'selected="selected"'; ?> value="30000">30000以上</option>
									<option <?php if($user_info['income_looking_for'] == 50000) echo 'selected="selected"'; ?> value="50000">50000以上</option>
								</select>
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group">
							<label for="inputOtherLookingFor" class="col-sm-2 control-label">其他</label>
							<div class="col-sm-6">
								<textarea id="inputOtherLookingFor" name="other_looking_for" class="form-control" value="<?php echo $user_info['other_looking_for']; ?>" datatype="s50-300" errormsg="50到300字" nullmsg="还没填呢"><?php echo $user_info['other_looking_for']; ?></textarea>
							</div>
							<div class="col-sm-4 col-validtip">
								<p class="Validform_checktip"></p>
							</div>
						</div>

						<div class="form-group text-center">
							<button type="submit" class="btn btn-primary btn-submit">更新</button>
						</div>
					</form>
				</div>
			</div>		
		</div>
	</div>
-->

	<!-- 发消息浮层 -->

	<?php endif; ?>

</div>