<!-- 会员浏览，列表页 -->
<div class="container">
	<div id="pl-profile-list" class="pl-profile-list">
		<!-- <p data-role="loadding" class="text-muted text-center">加载中...</p> -->
		<div class="row">
			<div class="col-md-3">
				<div class="thumbnail profile-list-box">
					<div class="avatar-box">
						<a class="avatar-link" href="/?c=profile&a=detail&uid=48">
							<img src="/static/dev/images/avatar_default.jpg" alt="王纯子纯子纯子">
						</a>
					</div>
					<div class="caption profile-info">
						<a class="nickname-link" href="/?c=profile&a=detail&uid=48">
							王纯子纯子纯子
						</a>
						<p class="text-muted">北京海淀</p>
						<p class="text-muted">公司职员-联想集团-24岁</p>
					</div>
					<div class="aboutme">
						<p>自我介绍自我介绍自我介绍自我介绍自我介绍自我介绍...</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail profile-list-box">
					<div class="avatar-box">
						<a class="avatar-link" href="/?c=profile&a=detail&uid=43">
							<img src="/static/dev/images/avatar_default.jpg" alt="王纯子纯子纯子">
						</a>
					</div>
					<div class="caption profile-info">
						<a class="nickname-link" href="/?c=profile&a=detail&uid=43">
							王纯子纯子纯子
						</a>
						<p class="text-muted">北京海淀</p>
						<p class="text-muted">公司职员-联想集团-24岁</p>
					</div>
					<div class="aboutme">
						<p>自我介绍自我介绍自我介绍自我介绍自我介绍自我介绍...</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail profile-list-box">
					<div class="avatar-box">
						<a class="avatar-link" href="/?c=profile&a=detail&uid=43">
							<img src="/static/dev/images/avatar_default.jpg" alt="王纯子纯子纯子">
						</a>
					</div>
					<div class="caption profile-info">
						<a class="nickname-link" href="/?c=profile&a=detail&uid=43">
							王纯子纯子纯子
						</a>
						<p class="text-muted">北京海淀</p>
						<p class="text-muted">公司职员-联想集团-24岁</p>
					</div>
					<div class="aboutme">
						<p>自我介绍自我介绍自我介绍自我介绍自我介绍自我介绍...</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail profile-list-box">
					<div class="avatar-box">
						<a class="avatar-link" href="/?c=profile&a=detail&uid=43">
							<img src="/static/dev/images/avatar_default.jpg" alt="王纯子纯子纯子">
						</a>
					</div>
					<div class="caption profile-info">
						<a class="nickname-link" href="/?c=profile&a=detail&uid=43">
							王纯子纯子纯子
						</a>
						<p class="text-muted">北京海淀</p>
						<p class="text-muted">公司职员-联想集团-24岁</p>
					</div>
					<div class="aboutme">
						<p>自我介绍自我介绍自我介绍自我介绍自我介绍自我介绍...</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="thumbnail profile-list-box">
					<div class="avatar-box">
						<a class="avatar-link" href="/?c=profile&a=detail&uid=48">
							<img src="/static/dev/images/avatar_default.jpg" alt="王纯子纯子纯子">
						</a>
					</div>
					<div class="caption profile-info">
						<a class="nickname-link" href="/?c=profile&a=detail&uid=48">
							王纯子纯子纯子
						</a>
						<p class="text-muted">北京海淀</p>
						<p class="text-muted">公司职员-联想集团-24岁</p>
					</div>
					<div class="aboutme">
						<p>自我介绍自我介绍自我介绍自我介绍自我介绍自我介绍...</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail profile-list-box">
					<div class="avatar-box">
						<a class="avatar-link" href="/?c=profile&a=detail&uid=43">
							<img src="/static/dev/images/avatar_default.jpg" alt="王纯子纯子纯子">
						</a>
					</div>
					<div class="caption profile-info">
						<a class="nickname-link" href="/?c=profile&a=detail&uid=43">
							王纯子纯子纯子
						</a>
						<p class="text-muted">北京海淀</p>
						<p class="text-muted">公司职员-联想集团-24岁</p>
					</div>
					<div class="aboutme">
						<p>自我介绍自我介绍自我介绍自我介绍自我介绍自我介绍...</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail profile-list-box">
					<div class="avatar-box">
						<a class="avatar-link" href="/?c=profile&a=detail&uid=43">
							<img src="/static/dev/images/avatar_default.jpg" alt="王纯子纯子纯子">
						</a>
					</div>
					<div class="caption profile-info">
						<a class="nickname-link" href="/?c=profile&a=detail&uid=43">
							王纯子纯子纯子
						</a>
						<p class="text-muted">北京海淀</p>
						<p class="text-muted">公司职员-联想集团-24岁</p>
					</div>
					<div class="aboutme">
						<p>自我介绍自我介绍自我介绍自我介绍自我介绍自我介绍...</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail profile-list-box">
					<div class="avatar-box">
						<a class="avatar-link" href="/?c=profile&a=detail&uid=43">
							<img src="/static/dev/images/avatar_default.jpg" alt="王纯子纯子纯子">
						</a>
					</div>
					<div class="caption profile-info">
						<a class="nickname-link" href="/?c=profile&a=detail&uid=43">
							王纯子纯子纯子
						</a>
						<p class="text-muted">北京海淀</p>
						<p class="text-muted">公司职员-联想集团-24岁</p>
					</div>
					<div class="aboutme">
						<p>自我介绍自我介绍自我介绍自我介绍自我介绍自我介绍...</p>
					</div>
				</div>
			</div>
		</div>

		<div data-role="load-more" class="load-more">
			<p class="text-muted text-center">加载中...</p>
			<!-- <button class="btn btn-default btn-profilelist-loadmore">加载更多信息</button> -->
		</div>
	</div>
</div>