<!-- 导航条 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-header">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="/static/dev/images/logo.png">
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div id="navbar-header" class="collapse navbar-collapse">

			<?php if($_SESSION['level']): ?>
			<ul class="nav navbar-nav">
				<?php if(g('c') === 'dashboard'): ?>
				<li class="active">
				<?php else: ?>
				<li>
				<?php endif; ?>
					<a href="?c=dashboard">动态</a>
				</li>

				<?php if(g('c') === 'profile' && g('a') === 'index'): ?>
				<li class="active">
				<?php else: ?>
				<li>
				<?php endif; ?>
					<a href="?c=profile">浏览</a>
				</li>

				<?php if(g('c') === 'party' && g('a') === 'index'): ?>
				<li class="active">
				<?php else: ?>
				<li>
				<?php endif; ?>
					<a href="?c=party">派对</a>
				</li>

				<?php if(g('c') === 'dating' && g('a') === 'index'): ?>
				<li class="active">
				<?php else: ?>
				<li>
				<?php endif; ?>
					<a href="?c=dating">约会</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown dropdown-launch">
					<button id="launch-btn" type="button" class="btn btn-primary navbar-btn btn-launch">
						<span><img src="static/dev/images/icon-header-launch.png"></span>
						<span>发起</span>
					</button>
				</li>

				<?php if(g('a') === 'dating_send' || g('a') === 'dating_in'): ?>
				<li class="active">
				<?php else: ?>
				<li>
				<?php endif; ?>
					<a href="?c=message&a=dating_send" class="icon-header" title="约会">
						<img src="/static/dev/images/icon-header-dating.png">
					</a>
				</li>
				
				<?php if(g('a') === 'message_in' || g('a') === 'message_send'): ?>
				<li class="active">
				<?php else: ?>
				<li>
				<?php endif; ?>
					<a href="?c=message&a=message_in" class="icon-header" title="信息">
						<img src="/static/dev/images/icon-header-msg.png">
					</a>
				</li>

				<?php if(g('a') === 'save_party' || g('a') === 'save_people' || g('a') === 'saved_people'): ?>
				<li class="active">
				<?php else: ?>
				<li>
				<?php endif; ?>
					<a href="?c=message&a=save_party" class="icon-header" title="收藏">
						<img src="/static/dev/images/icon-header-fav.png">
					</a>
				</li>
				<li class="dropdown dropdown-userinfo">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img class="avatar" src="<?php echo c('site_domain') . $_SESSION['user_avatar'] ?>">
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="?c=profile&a=detail&uid=<?php echo $_SESSION['uid'] ?>">个人中心</a></li>
						<li><a href="#">发布</a></li>
						<li><a href="#">消息</a></li>
						<li><a href="#">收藏</a></li>
						<li class="divider"></li>
						<li><a href="?c=guest&a=logout">退出</a></li>
					</ul>
				</li>
			</ul>

			<?php else: ?>
			<a href="?c=guest&a=signin">
				<button type="button" class="btn btn-primary navbar-btn navbar-right navbar-btn-signin">登录</button>
			</a>
			<a href="?c=guest&a=signup">
				<button type="button" class="btn btn-primary navbar-btn navbar-right navbar-btn-signup">免费注册</button>
			</a>
			<p class="navbar-text navbar-right">微信扫一扫</p>
			
			<?php endif; ?>
		</ul>

		</div><!-- /.navbar-collapse -->
	</div>
</nav>
